{% extends "Inhabilitaciones/inhabilitaciones.html" %}


{% block encabezado %}
    <header class="row">
        {% if messages %}
            {% for message in messages %}
                 {% if message.level == 40 %}
                     <p class="mensaje_error" ><span class="mensaje_error glyphicon glyphicon-ok"></span> {{ message }}</p>
                 {% else %}
                    <p class="mensaje_exito" ><span class="mensaje_exito glyphicon glyphicon-ok"></span> {{ message }}</p>
                 {% endif %}
            {% endfor %}
        {% endif %}
    </header>
{% endblock %}


{% block section_superior %}
{% endblock %}



{% block titulo_tabla %}
      <div class="modal fade" id="modal_eliminar_proceso" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title modal_reporte_title">Confirmación de eliminación</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Está seguro de eliminar el proceso seleccionado</p>
                                </div>
                                <div class="modal-footer">
                                    <a type="submit" class="btn btn-default">Aceptar</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>
                        </div>
    </div>

{% endblock %}


{% block contenido_tabla %}
    <div class="row panel panel-primary">
        <div class="panel-heading">Proceso de {{ proceso.get_proceso_display  }} de {{proceso.graduado.nombre_apellidos  }} </div>
        <div class="panel-body">

        <div class="dropdown dropwdown_opciones_detalle">
                <a class="dropdown-toggle a_opciones_detalle" type="button" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                   <ul class="dropdown-menu dropdown-menu-left usar_disenno_new">

                       {% if user.perfil_usuario.categoria.nombre == "administrador" or user.perfil_usuario.categoria.nombre == "especialista" or user.perfil_usuario.categoria.nombre == "juridico"%}
                                <li><a class=" btn_gestion " href="/inhabilitaciones/{{ proceso.id }}/editar">
                                    <span class="glyphicon glyphicon-pencil"></span> Editar
                                </a></li>
                       {% endif %}

                       {% if user.perfil_usuario.categoria.nombre == "administrador" or user.perfil_usuario.categoria.nombre == "especialista" or user.perfil_usuario.categoria.nombre == "juridico"%}
                                <li><a id="{{ proceso.id  }}" class="" data-toggle="modal" data-target="#modal_eliminar_proceso" onclick="Objeto.__init__({{ proceso.id }},'inhabilitaciones','modal_eliminar_proceso').eliminar();">
                                    <span class="glyphicon glyphicon-trash">
                                    </span> Eliminar proceso
                                </a></li>
                       {% endif %}

                            <li><a class=" btn_gestion " href="/inhabilitaciones">
                                <span class="glyphicon glyphicon-arrow-left"></span> Ir atrás
                            </a></li>
                   </ul>
        </div>


            <div id="datos_exp"  class="col-xs-12">
            <h4 class="text-center">Datos del graduado:</h4>
                <p><strong>Nombre y apellidos:</strong> {{ proceso.graduado.nombre_apellidos }}</p>
                <p><strong>Carnet de identidad:</strong> {{ proceso.graduado.ci }}</p>
                <p><strong>Carrera:</strong> {{ proceso.graduado.carrera }}</p>
                <p><strong>Nivel educacional:</strong> {{proceso.graduado.nivel_educacional }}</p>
                <p><strong>Provincia de residencia:</strong> {{ proceso.graduado.provincia }}</p>
                <p><strong>Cumple con el Servicio Social:</strong> {{proceso.graduado.cumple_servicio_social }}</p>
           </div>

            <div id="datos_exp"  class="col-xs-12">
                <h4 class="text-center">Datos del proceso:</h4>
                <p><strong>Proceso:</strong> {{ proceso.get_proceso_display }}</p>
                <p><strong>Causa del proceso:</strong> {{ proceso.causal }}</p>
                <p><strong>Número de resolución:</strong> {{ proceso.numero_resolucion }}</p>
                <p><strong>Fecha:</strong> {{ proceso.fecha }}</p>
            </div>


                   {% if proceso.graduado.procesoinhabilitacion_set.count > 1 %}
                   <div id="datos_exp"  class="col-xs-12">
                   <h4 class="text-center">Historial</h4>
                       {% for historia_proceso in proceso.graduado.procesoinhabilitacion_set.all %}
                           <div class="hitoria_proceso_inhabilitacion">
                            <p><strong>Proceso:</strong> {{ historia_proceso.get_proceso_display }}</p>
                            <p><strong>Causa del proceso:</strong> {{ historia_proceso.causal }}</p>
                            <p><strong>Número de resolución:</strong> {{ historia_proceso.numero_resolucion }}</p>
                            <p><strong>Fecha:</strong> {{ historia_proceso.fecha }}</p>
                           </div>
                       {% endfor %}
                  </div>
                  {% endif %}



        </div>
    <div class="panel-footer">
        <p class="text-muted"> <span class="glyphicon glyphicon-time"></span> Proceso registrado el {{ proceso.fecha }}</p>
    </div>
    </div>


{% endblock %}
