{% extends "General/index.html" %}

{% block encabezado %}
    <header class="row">
        {% if messages %}
            {% for message in messages %}
                <p class="mensaje_exito" ><span class="mensaje_exito glyphicon glyphicon-ok"></span> {{ message }}</p>
            {% endfor %}
        {% endif %}
    </header>
{% endblock %}



{% block titulo_tabla %}

    <div class="modal fade" id="modal_eliminar_exp" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Confirmación de eliminación</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Está seguro de eliminar el expediente seleccionado</p>
                                </div>
                                <div class="modal-footer">
                                    <a  class="btn btn-default">Aceptar</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>

                        </div>
        </div>



        <div class="modal fade" id="modal_modificar_exp" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Confirmación de modificación</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Está seguro de modificar el expediente seleccionado</p>
                                </div>
                                <div class="modal-footer">
                                    <a  class="btn btn-default">Aceptar</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>

                        </div>
        </div>
{% endblock %}

{% block section_superior %}

    <div class="panel panel-primary" style="overflow: hidden">
        <div class="panel-heading">Seleccione el expediente a modificar</div>
        <div class="panel-body">

        <div class="panel-body-superior">
            <div class="btn-group btn_group pull-left" >
                  <a class="btn btn-success btn_gestion" href="/gestion_expedientes/registrar_expediente">
                      <span class="glyphicon glyphicon-plus"></span>
                      Registrar expediente
                  </a>
            </div>

            <div class="row">
            <div class="col-xs-3 pull-right">
                <div class="input-group">
                    {% if busqueda %}
                        <input value="{{ valor_busqueda }}" disabled type="number" id="input_busqueda_expediente" class="form-control" aria-label="..." placeholder="Escriba aquí" style="height:32px;">
                    {% else %}
                        <input type="text" id="input_busqueda_expediente" class="form-control" aria-label="..." placeholder="Escriba aquí" style="height:32px;">
                    {% endif %}
                    <div class="input-group-btn">
                        {% if busqueda %}
                             <a type="button" class="btn btn-default btn_normal" href="/gestion_expedientes"><span class="glyphicon glyphicon-refresh"></span> Limpiar</a>
                        {% else %}
                             <button type="button" class="btn btn-default btn_normal" onclick="Objeto.__init__('','gestion_expedientes','input_busqueda_expediente').buscar('id');">Buscar ID</button>
                             <button type="button" class="btn btn-default btn_normal" onclick="Objeto.__init__('','gestion_expedientes','input_busqueda_expediente').buscar('ci');">Buscar CI</button>
                        {% endif %}
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </div><!-- /input-group -->
          </div>

        </div>


    <div class="table-responsive">
        <table class="table table-striped table-bordered dt-responsive nowrap usar_DataTable_3" cellspacing="0" width="100%">

            <thead>
            <tr>
                <th>ID</th>
                <th>Graduado</th>
                <th>Org Liberación</th>
                <th>Org Aceptación</th>
                <th>Registrado</th>
                <th>Opciones</th>
            </tr>
              </thead>
              <tbody>
              {% for expediente in expedientes %}
                  <tr>
                      <td>{{ expediente.id }} </td>
                      <td>{{ expediente.graduado__nombre }} </td>
                      <td>{{expediente.organismo_liberacion__siglas}}</td>
                      <td>{{expediente.organismo_aceptacion__siglas}}</td>
                      <td>{{ expediente.fecha_registro|date:"Y/m/d" }}</td>
                      <td id="opciones_gestion">
                              <a href="/gestion_expedientes/{{ expediente.id }}" class="btn btn-warning"><span class="glyphicon glyphicon-plus"></span>Detalles</a>
                              <button id="{{ expediente.id  }}" onclick="Objeto.__init__({{ expediente.id }},'gestion_expedientes','modal_modificar_exp').modificar();" class="btn btn-info  modal-expediente" data-toggle="modal" data-target="#modal_modificar_exp">
                                  <span class="glyphicon glyphicon-pencil">
                                  </span>
                              </button>

                              <button id="{{ expediente.id  }}"  onclick="Objeto.__init__({{ expediente.id }},'gestion_expedientes','modal_eliminar_exp').eliminar();" class="btn btn-danger modal-expediente" data-toggle="modal" data-target="#modal_eliminar_exp">
                                  <span class="glyphicon glyphicon-trash">
                                  </span>
                              </button>

                      </td>

                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

                <ul class="pagination pull-right">
                {% if expedientes.has_previous %}
                    <li>
                        <a href="?pagina={{ expedientes.previous_page_number }}" aria-label="Previous">
                            Anterior
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            Anterior
                        </a>
                    </li>
                {% endif %}
                {% if paginas %}
                {% for pagina in paginas %}
                    {% if pagina == expedientes.number  %}
                          <li class="active"><a href="?pagina={{ pagina }}">{{ pagina }}</a></li>
                    {% else %}
                         <li><a href="?pagina={{ pagina }}">{{ pagina }}</a></li>
                    {% endif %}
                {% endfor %}
                {% else %}
                    <li class="active"><a href="?pagina=1">1</a></li>
                {% endif %}

                {% if expedientes.has_next %}
                    <li>
                        <a href="?pagina={{ expedientes.next_page_number }}" aria-label="Next">
                            Próximo
                        </a>
                    </li>
                {% else %}

                    <li class="disabled">
                        <a  href="#" aria-label="Next">
                            Próximo
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
    </div>

{% endblock %}
