*{
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
}
a:link{
    text-decoration: none;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] { -moz-appearance:textfield; }



form input[type="text"]{
    font-size: medium;
}

#body_index {
    padding-top: 50px;
    font-family: "Microsoft Sans Serif" !important;
    font-size: medium;

}

body{
    background-color: #f9f9f9 !important;
    color: #73879C;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;
}








.fondo_pantalla{
    background-image: url("../img/fondos_sin_letras.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo_index{
    position: relative;
    z-index: 2;
    text-rendering: optimizeLegibility;
    color: #565656;
    font-family: Brush Script MT,sans-serif;
    font-size: 60px;
    text-align: left;
    display: block;
    margin-bottom: 5px !important;
    line-height: 30px;
}


ul {
    list-style: none;
}

#titulo_inicioo {
       height: 40px;
       width: 180px;
       margin: 5px 5px 5px -10px ;
       border: none !important;
}

.foto_perfil{
    margin-top: 5px;
    border-radius:50%;
    width: 40px;
    height: 40px;
    margin-right: 40px;
}








h2 {
    color:  #ac2925;
}

.form_editar_exp{
    background-color: #ffffff;
    border-radius: 10px;
}

#contenedor_peincipal_datos_exp {
   margin-left: 50px;
}


#datos_exp{
    margin: 5px;
    font-size: 15px;
    border-radius: 5px;
    border: 3px solid #d3d3d3;
    padding: 0 !important;
}

.datos_exp_50{
    display: inline-block;
    width: 49%;
}



#datos_exp h4{
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-align: left;
    background-color: #d3d3d3;
    color: #464646;
    margin-top: 0px;
    border-radius: 2px 2px 0 0;
    padding: 5px 3px 3px 5px;

}


#datos_exp p{
    padding: 0 10px 0 10px ;
    color: #3b3b3b;
}

.datos_graduado{
    float: left;
    height: 450px;
    overflow-y: auto;
}


.datos_entidad{
    height: 216px;
    overflow-y: auto;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


.navbar-fixed-top {
  border: 0;
}



nav {
    background-color: #EDEDED !important;
    border-bottom: 2px solid #D9DEE4 !important;

}
nav a{
    font-size: medium;
    font-family: "Century Gothic","Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #515356 !important;
}



.navbar-inverse .active a, .navbar-inverse .active a:focus, .navbar-inverse .active a:hover,
.navbar-inverse  a:hover,.navbar-inverse  a:focus{
    background-color: #D9DEE4 !important;
}




.contenedor_mi_select{
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    margin-right: 5px;
    margin-left: 5px;
}
.contenedor_mi_select li{
    margin-left: 30px;
    list-style: none;
}

.contenedor_mi_select li:hover{
    background-color: #0081c2;
    border-radius: 5px;
}


.contenedor_exp_pendiente {
    border: solid;
    border-color: #2b2b2b;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 30px;

}


#contenedor_organismo {
    background-color: gray;
    border-radius: 10px;
    color: #ffffff;
    margin-bottom: 20px;
}

#expedientes_liberados,#expedientes_aceptados{
    background-color: #d5d5d5;
    border-radius: 10px;
    margin: 40px;
    padding: 10px;
}

#expedientes_liberados h3,#expedientes_aceptados h3{
    background-color: crimson;
    border-radius: 10px;
    color: #ffffff;
    padding: 5px;
    margin-top: 0px;
}

#expedientes_liberados p,#expedientes_aceptados p{
    float: left;
    font-size: 15px;
    font-style: oblique;
}



#expediente{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    color: red;
    margin-bottom: 10px;
    float: left;
}

#img_boleta{
    height: 350px;
    width: 600px;
}









/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #2A3F54;

  }
}




/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-left: -20px;
    clear: both;
}



.nav-sidebar > li > a{
    padding-right: 10px;
    padding-left: 10px;
    color: #d6d6d6;
}



.nav-sidebar  .side2{
    padding: 0px !important;
    margin: 0px !important;
    background-color: #2A3F54;
    border-right:6px solid #1ABB9C;

}

.nav-sidebar .side2 li{
    padding: 5px 5px 5px 10px;
    margin: 0px !important;
}


.nav-sidebar  .side2 li.active{
    background-color: #425668 !important;
    border: 1px solid #425668;
}

.nav-sidebar .side2  li a{
    color: gainsboro;
    display: block;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;

}


.nav-sidebar > li > a:hover, .nav-sidebar  .side2 li:hover{
    background-color: #425668;
}

.nav-sidebar > li > a:focus{
    background-color: #425668 !important;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus
{

    color: #fff;
    text-shadow: rgba(0,0,0,.25) 0 -1px 0;
    background: linear-gradient(#334556,#2C4257),#2A3F54;
    box-shadow: rgba(0,0,0,.15) 0 2px 0,inset rgba(255,255,255,.16) 0 1px 0;
}

.nav-sidebar > li.active {
   border-right:6px solid #1ABB9C
}



/*
 * Main content
 */

.main {
  padding: 20px 20px 20px 20px;

}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}



.main .page-header {
    margin-top: 0;

}

.div_form,#div_registrar_usuario,#div_registrar_organismo,#div_registrar_entidad,#div_registrar_causal,#div_registrar_direccion{
       border-radius: 10px;
       margin-left: 150px;
       margin-top: 10px;
}


#div_registrar_expediente{
       border-radius: 10px;
       padding: 10px;
       margin-left: 40px;
       padding-bottom: 30px;
}

#id_nombre_usuario{
    height: 35px;
}
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;

}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}




.modal_eliminar, #modal_eliminar_exp_int .modal-title, #modal_eliminar_exp .modal-title, #modal_eliminar_user .modal-title,#modal_eliminar_org .modal-title,#modal_eliminar_causal .modal-title{
     background-color: #d9534f;
     color: white;
     border-radius:  5px 5px 0px 0px !important;
     padding: 12px;
     font-size: 16px;
     font-weight: bold;
}


#icheckForm .radio, #icheckForm .checkbox {
    padding-left: 0;
    }

#modal_exportar_provincias_expedientes .modal-title, #modal_exportar_causales_expedientes .modal-title, #modal_exportar_carreras_expedientes .modal-title, #modal_exportar_resumen_mensual .modal-title,#modal_filtro_reporte .modal-title, #modal_exportar_exp .modal-title,#modal_exportar_exp_apro .modal-title,#modal_editar_exp .modal-title,#modal_rechazar_exp .modal-title, #modal_aprobar_exp .modal-title, #modal_pasar_pend_exp .modal-title,#modal_no_aprobar_exp .modal-title {
     background-color: #425668;
     color: white;
     border-radius:  5px 5px 0px 0px !important;
     padding: 12px;
     font-size: 16px;
     font-weight: bold;
}

.modal_reporte_title{
     background-color: #425668;
     color: white;
     border-radius:  5px 5px 0px 0px !important;
     padding: 12px;
     font-size: 16px;
     font-weight: bold;
}


.modal_modificar, #modal_modificar_dir .modal-title , #modal_modificar_exp .modal-title,#modal_modificar_user .modal-title, #modal_modificar_org .modal-title ,#modal_modificar_ent .modal-title,#modal_modificar_causal .modal-title, #modal_modificar_exp_int .modal-title {
     background-color: #5bc0de;
     color: white;
     border-radius:  5px 5px 0px 0px !important;
     padding: 12px;
     font-size: 16px;
     font-weight: bold;
}

#modal_contrasenna_user .modal-title {
     background-color: #9d9d9d;
     color: white;
     border-radius:  5px 5px 0px 0px !important;
     padding: 12px;
     font-size: 16px;
     font-weight: bold;
}

.modal-header{
   padding: 0;
   border-bottom: 0;

}



.modal-body{
    font-weight: 700;
    font-family: Lato,sans-serif;
    font-size: 16px;
    color: #555555;
}

 textarea {
     max-width:100%;
     min-width:100%;
 }





.panel-heading:nth-child(2) {
    text-align: center;
}

.btn{
    padding: 1px 5px;
}


.btn-primary,.btn-success,.btn-danger,.btn-info,.btn-warning{
    border-radius: 10px;
    border: none;
    background-image: none;
}

.btn-primary{
   background-color: #2A3F54 !important;
}

.btn-success{
     background-color: #1ABB9C  !important
}

.btn_normal{
     padding: 5px 5px !important;
}


/*Messages de exito en los CRUD Templates*/

header{
    height: 30px;
    margin-bottom: 10px;
}

header .mensaje_exito{
    background-color: #1abc9c;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 3px;
}

header .mensaje_error{
    background-color: rgb(202, 80, 102);
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 3px;
}

.bg_primary{
    background-color: #0e90d2;
    color: white;
    padding: 5px;
    border-radius: 5px;
}



.bg_second{
        background: #f3f3f3;
        border-radius: 3px;
        position: relative;
        padding: 7px;
        margin-bottom: 5px;
        color: #444f5e;
}


.bg_primary:hover,.bg_success:hover,.bg_danger:hover{
   opacity: 0.7;
}

a:hover{
    text-decoration: none;
}


.bg_success{
    background-color: #40a257;
    color: white;
   padding: 5px;
    border-radius: 5px;
}

.bg_danger{
    background-color: #e62648;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/**Contacto--------------------------------------------------------------------*/


.contacto_subtitulo{
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px !important;

}

.contacto_subtitulo h1{
    color: #505252;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: -15px;
}

.contacto_subtitulo h3{
    color: #7f7f7f;
    font-size: 23px;
    text-align: center;

}

.contacto_integrantes .integrante{
    position: relative;
    text-align: center;
    border-radius: 30px;
    margin: 15px 5px 15px 5px;
    padding: 70px 10px 10px 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 1px gray;
    border: 2px solid #535353;
}


.contacto_integrantes .integrante .nombre{
    margin-top: -70px;
    font-size: 30px;
    font-weight: bold;
    color: gray;
    text-align: center;
}

.integrante .correo{
    font-size: medium;
    color: #858585;
    text-align: center;
    margin-top: -15px;
    word-wrap: break-word;
}

.integrante .telefono{
    font-size: medium;
    color: #858585;
    text-align: center;
    margin-top: -15px;
    word-wrap: break-word;
    margin-bottom: 50px;
}


.integrante .div_img{
    position: relative;
    margin: auto;
}


.integrante img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid #535353;
}

.icono{
    position: relative;
    border: 3px solid #0e90d2;
    background-color: rgb(168, 229, 255);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    left: 120px;
    top: -100px;
    font-size: 50px;
    color: #0e90d2;
    margin: auto;
}

#modal_exportar_exp .modal-content .radio{
    border: 2px solid gainsboro;
    border-radius: 5px;
    margin-right: 10px;
    padding: 3px;
}



th{
    color: #67738b;
    font-weight: 900;
    background-color: #e8e8e8;
    border: 1px dashed #939393 !important;
}

input[type=file]{
    word-wrap: break-word;
}


.dropdown_inicio,.dropdown_notificaciones,.usar_disenno_new{
    border: 1px solid gray;
    margin: 0;
    padding: 0;

}




.dropdown_inicio li a,.dropdown_notificaciones li, .usar_disenno_new li a{
    line-height: 30px;
    border-bottom: 1px solid gainsboro;
}
.dropdown_inicio li  span{
    position: relative;
    margin-left: -10px;
    margin-right: 5px;
    top: 5px;
}


.dropdown_notificaciones {
    width: 500px !important;
    height: 500px !important;
    overflow-y: auto;
    overflow-x: hidden;
}


.notificacion .emisor{
    position: relative;
    font-weight: bold;
    font-size: 15px;
    font-family: "Open Sans",arial,x-locale-body,sans-serif;

}

.enviar_notificacion{
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: #365899;
    font-size: medium;
}

.notificacion .foto{
    position: relative;
    float: left;
    background-color: #f4f4f4;
    border-radius:20%;
    width: 50px;
    height: 50px;
    display: inline-block !important;
    margin: 2px 5px 4px 0;
}

.foto_listado_user{
    background-color: #e0e0e0;
    border-radius:20%;
    width: 30px;
    height: 30px;
    padding: 6px;
    border: 1px solid #b8b8b8;
    color: gray;
}




.notificacion .foto span{
    position: relative;
    top: 12px;
    left: 13px;
    font-size: x-large;
    color: #5d5d5d;

}


.notificacion .texto{
    position: relative;
    font-weight: 100;
    top: -10px;
    font-size: 14px;
    font-family: "Open Sans",arial,x-locale-body,sans-serif;
}



.foto_perfil2{
    display: inline-block;
    border-radius:20%;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border: none;

}


.foto_perfil3{
    border-radius:20%;
    width: 30px;
    height: 30px;
}




.notificacion{
    overflow: hidden;
    padding: 5px 5px 5px 15px;
    font-size: medium;
}


.notificacion_sin_revisar {
    background-color: rgba(0, 81, 154, 0.11) !important;
    color: #00519a;
}

.notificacion:hover{
    cursor: pointer;
    background-color: #f4f4f4;
}



.imagen_boleta{
    text-align: center;
}




.img_principal{
    position: relative;
    margin: 5% 0%;
    height: 300px;
    width: 300px;
    z-index: 2;

}

.div_img_fondo img{
    position: fixed;
    left: 15%;
    width: 85%;
    height: 100%;
    top: 0px;
}


.lista_usuarios{

}


.span_cant_notificaciones{
    position: relative;
    background-color: #1ABB9C;
    border: none;
    color: white;
    border-radius: 50px;
    left: 31px;
    top: -12px;
    padding: 2px;
    z-index: 2;
    font-size: small;
}

.glyphicon_notificaciones{
    margin-right: 8px;
}


.modal_notificacion{
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-y: auto;
    height: 250px;
}


.nav_busqueda_graduado{
    position: absolute;
    width: 35%;
    top:8px;
    left: 16%;

}



.nav_busqueda_graduado input{
    border-radius: 2px;
    box-shadow: none;
    background-color: #fcfcfc;
    height: 35px;
    border: 1px solid #2A3F54;

}

.nav_busqueda_graduado button,.nav_busqueda_graduado a{
    background-color:  #425668;
    border-radius: 2px;
    color: #eaeaea !important;
    height: 35px;
    border: 1px solid #2A3F54;
}

.nav_busqueda_graduado button:hover,.nav_busqueda_graduado button:focus,.nav_busqueda_graduado a:hover,.nav_busqueda_graduado a:focus{
     border: 1px solid #2A3F54 !important;
     background-color:  #2A3F54 !important;
     color: white !important;
}



.subtexto_ficha_graduado{
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-left: 10px;
    padding-left: 15px;
    background-color: #7c7c7c;
    border-radius: 5px;
}

.autocompletar_epxediente a{
    color: white;
    background-color: #1ABB9C;
    padding: 5px;
    border-radius: 10px
}

.autocompletar_epxediente a:active,.autocompletar_epxediente a:hover,.autocompletar_epxediente a:active{
    background-color: #178971 !important;
}

.hitoria_proceso_inhabilitacion{
    border: 3px solid gray;
    border-radius: 5px;
    margin-bottom: 2px;

}

ul.pagination.pull-right{
    position: relative;
    top: -25px;
    padding: 0;
    margin: 0
}

.a_opciones_detalle{
    color: #f0f0f0;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
}


.dropwdown_opciones_detalle{
    position: absolute;
    top: 65px;
    left: 95%;
}

.dropwdown_opciones_detalle .dropdown-menu{
    left: -150px;
    top: 39px;
}

.dropwdown_opciones_detalle ul li{
    cursor: pointer;
}


ul.pagination{
    clear: both;
}

.indicaciones_list{
    width: 60%;
    float: left;
}


.div_aside h1 {
    font-size: medium;
    color: #ffffff;
    text-align: center;
    background-color:#1ABB9C;
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    margin: 0;

}

.div_aside ul{
    list-style: none;
    padding: 20px 10px 10px 10px;
}


.div_aside ul li{
    display: inline-block;
    margin: 2px;
    background-color: #ebebeb;
    border-radius: 10px;
    padding: 3px;
}


.div_aside ul li.activo{
    text-decoration: underline;
    color: #3c3c3c;
}

.div_aside ul li a{
    color: #5d687d;
    font-size: small;
    font-weight: bold;
}


 .div_aside ul li a:hover{
    color: #5d687d;
}

.div_aside{
    float: right;
    width: 25%;
    border-radius: 5px;
    border: 1px solid gainsboro;
    position: fixed;
    left: 70%;
    background-color: white;
    box-shadow: 0px 0px 8px 2px #cecece;
}


article.indicacion{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 0 0 5px 0;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 2px #cecece;
    border: 2px solid #afafaf;
}


.registrar_categoria{
    position: absolute;
    top: 5px;
    left: 95%;
    color: #f3f3f3;
}



article.indicacion .indicacion_header{
    display: block;
    color: #ffffff;
    overflow: hidden;
    background-color: #425668;
    padding: 5px 5px 5px 10px;
    width: 100%;

}


article.indicacion .indicacion_header .titulo, article.indicacion .indicacion_header  .opciones{
    color: white;
    padding-left: 10px;
    margin: 0;
}



article.indicacion .indicacion_otros_detalles{
      border-top:1px solid gainsboro;
      padding-top: 10px;
}

article.indicacion .indicacion_texto{
    border-radius: 5px;
    padding: 2px;
    color: #585858;
    font-size: 12px;
    margin: 20px 10px 10px 10px;
}


article.indicacion .indicacion_autor{
    font-size: 12px;
    font-weight: bold;
    float: left;
    padding-left: 15px;
    color: #585858;
}


article.indicacion .indicacion_fecha{
    float: right;
    font-style: italic;
    padding-right: 10px;
    color: #b8b8b8;
    font-size: 12px;
}

article.indicacion .indicacion_titulo .indicacion_opciones{
    float: right;
    padding-right: 15px;
    font-size: x-small;
    margin: 3px;
}

article.indicacion .indicacion_titulo .indicacion_opciones a{
    margin-left: 5px;
}


article.indicacion .indicacion_download{
    margin: 0 0 10px 12px;

}


.titulo_indicaciones{
    color: #535353;
    font-size: large;
    font-weight: bold;

}



.registrar_indicacion{
    border: 2px solid  #425668;
    border-radius: 5px;
    padding: 5px;
    color: #425668;
    position: relative;
    left: -40%;
    background-color: white;
}



.registrar_indicacion:hover{
    background-color: #425668;
    color: white;
    border: none;

}

.div_panel_busqueda_carrera input, .div_panel_busqueda_carrera a{
    display: inline-block !important;
    background-color: white;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    padding: 1px 5px;
    color: #5b5b5b;
}

.div_panel_busqueda_carrera input:disabled{
     background-color: #d1d1d1;
     cursor: not-allowed;
}


.panel-primary > .panel-heading,.pagination > .active > a{
    background: #425668;
    border: none;
}

.panel-primary,.pagination > .active > a{
    border: 1px solid #425668 !important;
}

.pagination a{
     color:  #425668 !important;
}
.pagination .active a{
     color: #fefefe !important;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff !important;
    background-color:  #1ABB9C;
}

.nav-pills > li > a{
     color: #29487d !important;
}



.bienvenido .foto_bienvenido{
    float: left;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background: #fff;
    z-index: 1000;
    margin: 10px 0 20px 0;
    border: 1px solid rgba(52,73,94,.44);
    padding: 4px;
    vertical-align: middle;
}

.bienvenido .foto_bienvenido .imagen_user_not_foto{
    font-size: 45px;
    position: relative;
    left: 8px;
    top: 5px;
}

.bienvenido .texto{
       padding: 15px 10px 10px;
       width: 55%;
       float: left;
       margin: 4px 0 0 10px;

}

.bienvenido .texto .titulo{
      color: #b1b1b1;

}

.bienvenido .texto .username{
      position: relative;
      color: white;
      top: -5px;

}