{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="es">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sistema para la gestión de la fuerza trabajo calificada cuabana">
    <meta name="author" content="Rolando Morales Perez">
    <title>FTC</title>
    <link rel="shortcut icon" href="{% static "img/ico.ico" %}">

    <!-- Bootstrap  -->
    <link href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

         <!-- Bootstrap  Validator-->
    <link href="{% static "plugins/bootstrapValidator/css/bootstrapValidator.css" %}" rel="stylesheet">
    <link href="{% static "plugins/bootstrapValidator/css/bootstrapValidator.min.css" %}" rel="stylesheet">

       <!-- DataTable-->
    <link href="{% static "plugins/dataTables/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "plugins/dataTables/css/responsive.bootstrap.min.css" %}" rel="stylesheet">

       <!-- DateTimePicker-->
    <link href="{% static "plugins/dateTimePickerBootstrap/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">

        <!-- Select2-->
    <link href="{% static "plugins/select2/css/select2.min.css" %}" rel="stylesheet">

    <link rel="stylesheet"  href="{% static "plugins/icheck-1.x/skins/square/red.css" %}" />




     <!-- Inclusion de las personalizaciones estaticas -->
     <link href="{% static "css/estilos_login.css" %}" rel="stylesheet">
     <link href="{% static "css/../../static/js/../../static/css/../../static/img/../../static/css/estilos_inicio.css" %}" rel="stylesheet">


    <!-- jQuery -->
    <script src="{% static "plugins/jquery/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- mis validaciones -->
    <script src="{% static "js/configuraciones_plugins.js" %}"></script>
    <script src="{% static "js/validaciones_formularios.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

      <!-- Data Table-->

    <script src="{% static "plugins/dataTables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/dataTables/js/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "plugins/dataTables/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "plugins/dataTables/js/responsive.bootstrap.min.js" %}"></script>





     <!-- Bootstrap  Validator-->
    <script src="{% static "plugins/bootstrapValidator/js/bootstrapValidator.js" %}"></script>
    <script src="{% static "plugins/bootstrapValidator/js/bootstrapValidator.min.js" %}"></script>
    <script src="{% static "plugins/jquery/jquery.validate.js" %}"></script>

         <!-- DateTimePicker-->
    <script src="{% static "plugins/dateTimePickerBootstrap/js/bootstrap-datetimepicker.min.js" %}"></script>

          <!-- Select2-->
    <script src="{% static "plugins/select2/js/select2.min.js" %}"></script>



     <script src="{% static "plugins/icheck-1.x/icheck.min.js" %}"></script>


     <script  src="{% static "plugins/tableExport/tableExport.js" %}"></script>
     <script  src="{% static "plugins/tableExport/jquery.base64.js" %}"></script>
     <script  src="{% static "plugins/tableExport/html2canvas.js" %}"></script>
     <script  src="{% static "plugins/tableExport/jspdf/libs/sprintf.js" %}"></script>
     <script  src="{% static "plugins/tableExport/jspdf/jspdf.js" %}"></script>
     <script  src="{% static "plugins/tableExport/jspdf/libs/base64.js" %}"></script>




</head>

{% block body  %}
<body>

</body>

{% endblock %}

</html>