{% extends "General/index.html" %}
{% load staticfiles %}



{% block encabezado %}
    <script>
      $('.nav_contacto').addClass('active');
    </script>

    <div class="contacto_subtitulo">
        <h1>Contactar con Dpto. FTC</h1>
        <h3>A continuación los datos de nuestros trabajadores</h3>
    </div>

    <div class="contacto_integrantes col-xs-12" style=" margin-left: 70px;    ">

     <div class="integrante col-xs-5">
         <div class="div_img">
             <img src="{% static "img/otamendiz.jpg" %}">
             <div class="icono"><span class="glyphicon glyphicon-education"></span></div>
         </div>
           <p class="nombre">Jesús Otamendiz Campos</p>
           <p class="correo">Director de Empleo</p>
           <p class="correo">jotamendiz@mtss.cu</p>
           <p class="telefono">78306539</p>

       </div>

     <div class="integrante col-xs-5">
         <div class="div_img">
              <img src="{% static "img/ingrid.jpg" %}">
              <div class="icono"><span class="glyphicon glyphicon-education"></span></div>
         </div>
           <p class="nombre">Ingrid Travieso Rosabal</p>
           <p class="correo">Jefa de Dpto. Fuerza de Trabajo Calificada</p>
           <p class="correo">itravieso@mtss.cu</p>
           <p class="telefono">78308437</p>

       </div>


       <div class="integrante col-xs-5">
             <div class="div_img">
               <img src="{% static "img/yariel.jpg" %}">
              <div class="icono"><span class="glyphicon glyphicon-user"></span></div>
             </div>
           <p class="nombre">Yariel Gámez Molina</p>
           <p class="correo">Especialista Superior en Recursos Humanos</p>
           <p class="correo">yariel.gamez@mtss.cu</p>
           <p class="telefono">78308437</p>



       </div>

        <div class="integrante col-xs-5">
            <div class="div_img">
                <img src="{% static "img/rolando.jpg" %}">
                <div class="icono"><span class="glyphicon glyphicon-user"></span></div>
            </div>
           <p class="nombre">Rolando Morales Pérez</p>
            <p class="correo">Especialista Superior en Recursos Humanos</p>
           <p class="correo">rolando.morales@mtss.cu</p>
            <p class="telefono">78308437</p>


       </div>

       <div class="integrante col-xs-5">
           <div class="div_img">
               <img src="{% static "img/mario.jpg" %}">
                <div class="icono"><span class="glyphicon glyphicon-user"></span></div>
            </div>

           <p class="nombre">Mario David Riguera</p>
           <p class="correo">Especialista Superior en Recursos Humanos</p>
           <p class="correo">mario.riguera@mtss.cu</p>
           <p class="telefono">78308437</p>


       </div>


         <div class="integrante col-xs-5">
              <div class="div_img">
               <img src="{% static "img/ana.jpg" %}">
                <div class="icono"><span class="glyphicon glyphicon-user"></span></div>
            </div>

           <p class="nombre">Ana Eugenia González</p>
             <p class="correo">Especialista Superior en Recursos Humanos</p>
           <p class="correo">eugenia@mtss.cu</p>
           <p class="telefono">783800008 ext:2089</p>


       </div>

        <div class="integrante col-xs-5">
             <div class="div_img">
               <img src="{% static "img/yumi.jpg" %}">
               <div class="icono"><span class="glyphicon glyphicon-user"></span></div>
            </div>

           <p class="nombre">Yumerky Santana Delgado</p>
            <p class="correo">Especialista Superior en Recursos Humanos</p>
           <p class="correo">ysantana@mtss.cu</p>
           <p class="telefono">783800008 ext:2033</p>


       </div>




       <div class="integrante col-xs-5">
           <div class="div_img">
                <img src="{% static "img/elizabeth.jpg" %}">
                <div class="icono"><span class="glyphicon glyphicon-user"></span></div>
            </div>
           <p class="nombre">Elizabeth Lugonez Hernández</p>
           <p class="correo">Especialista Superior en Recursos Humanos</p>
           <p class="correo">elizabeth.lugones@mtss.cu</p>
           <p class="telefono">78308437</p>


       </div>


    </div>

{% endblock %}


{% block section_superior %}
{% endblock %}


{% block titulo_tabla %}
{% endblock %}

{% block contenido_tabla %}


{% endblock %}

