
<html>
<body>
 <p>Compañero(a): Proceder al cambio de ubicación del egresado. El organismo que libera, debe
 informarle al egresado que asista a la Dirección Provincial de Trabajo a recojer su nueva boleta.
 </p>

 <p>Nota: Puede acceder a descargar la carta de aprobación en su sessión de usuario y comprobar
     los datos del cambio aprobado en el sitio web SGMLEU, disponible en la dirección
     http://sgmleu.cu
 </p>

 <p>Lic. Ana Eugenia González Ruisánchez</p>
 <p>Especialista Superior en Gestión de los RH.</p>
 <p>FTC del MTSS</p>
 <p>Telf. 7838 0008, ext. 2089</p>

</body>
</html>