{% extends "General/base.html" %}
{% load staticfiles %}



{% block body %}
    <body id="body_login">
     <div class="container">

         <form class="form-signin" method="POST" id="login">

             <img class="logo_login" src="{% static "img/logo.png" %}">
             <h3 style="color: #585858" class="form-signin-heading">Iniciar sesión</h3>
             {% csrf_token %}
             <label for="username" class="sr-only">Usuario</label>
             <div class="form-group has-feedback">
                 <input type="text" id="id_username" name="username" class="form-control" placeholder="Nombre de usuario" >
             </div>

             <label for="password" class="sr-only">Contraseña</label>

             <div class="form-group has-feedback">
                 <input type="password" id="id_password" name="password" class="form-control" placeholder="Contraseña" >
             </div>

             <div>
                 {% if messages %}
                     {% for message in messages %}
                         <p style="color: #a94442; font-size: 12px"> {{ message }}</p>
                     {% endfor %}
                     <script>
                      $('#id_username').parent().attr("class","form-group has-error");
                      $('#id_password').parent().attr("class","form-group has-error");
                     </script>
                 {% endif %}
             </div>

             <button class="btn btn-lg btn-block btn_login" type="submit">Aceptar</button>
         </form>
     </div>
    </body>
{% endblock %}