{% extends "ExpedientesAprobados/expedientes_aprobados.html" %}


{% block encabezado %}
    <header></header>
{% endblock %}

{% block section_superior %}
    <div class="modal fade" id="modal_pasar_pend_exp" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Pasar a pendientes</h4>
                                </div>

                                <div class="modal-body">
                                    <p>¿Está seguro de pasar a pendientes el expediente seleccionado?</p>
                                </div>
                                    <div class="modal-footer">
                                               <a class="btn btn-primary"  id="aceptar_exp_aprobado">Aceptar </a>
                                               <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        </div>
                            </div>
                        </div>
    </div>

    <div class="modal fade" id="modal_rechazar_exp" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                 <form id="rechazar_expediente_aprob"  class="form-horizontal" method="post" role="form">{% csrf_token %}

                                     <div class="modal-header">
                                         <h4 class="modal-title">Rechazar expediente</h4>
                                     </div>

                                     <div class="modal-body" style="width: 95%; margin: auto">
                                        <div class="form-group">
                                            <label for="id_causa_rechazo" class="  label label-default control-label ">Causa</label>
                                            <textarea placeholder="Escriba la causa...." class="form-control "  id="id_causa_rechazo" name="causa_rechazo" rows="4"></textarea>
                                        </div>
                                     </div>
                                     <div class="modal-footer">
                                         <input type="submit" class="btn btn-primary" value="Aceptar" id="aceptar_exp_rechazado">
                                         <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                     </div>
                                 </form>
                            </div>
                        </div>
     </div>

    <div class="modal fade" id="modal_no_aprobar_exp" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <form id="no_aprobar_expediente_aprob"  class="form-horizontal" method="post" role="form">{% csrf_token %}

                                    <div class="modal-header">
                                        <h4 class="modal-title">No aprobar expediente</h4>
                                    </div>
                                    <div class="modal-body" style="width: 95%; margin: auto">
                                        <div class="form-group">
                                            <label for="id_causa_no_aprobado" class=" label label-default control-label ">Causa</label>
                                            <textarea placeholder="Escriba la causa...." class="form-control "  id="id_causa_no_aprobado" name="causa_no_aprobado" rows="4"></textarea>
                                        </div>

                                     </div>

                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn-primary" value="Aceptar" id="aceptar_exp_no_aprobado">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    </div>

                                </form>
                            </div>
                        </div>

    </div>
{% endblock %}



{% block titulo_tabla %}

{% endblock %}





{% block contenido_tabla %}
    <div class="row panel panel-primary">
        <div class="panel-heading">Movimiento Laboral de {{ expediente.expediente.graduado.nombre  }} </div>
        <div class="panel-body">
               <div class="dropdown dropwdown_opciones_detalle">
                <a class="dropdown-toggle a_opciones_detalle" type="button" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                   <ul class="dropdown-menu dropdown-menu-left usar_disenno_new">
                       {% if categoria == "especialista" or categoria == "administrador"%}
                                <li><a name="btn_pasar_pend_exp" id="{{ expediente.id  }}" class=" modal_expediente_pend " data-toggle="modal" data-target="#modal_pasar_pend_exp">
                                    <span class="glyphicon glyphicon-chevron-up"> </span> Pasar a Pendientes
                                </a></li>

                                <li><a name="btn_rechazar_exp" id="{{ expediente.id  }}" class=" modal_expediente_pend " data-toggle="modal" data-target="#modal_rechazar_exp">
                                    <span class="glyphicon glyphicon-remove"></span> Rechazar
                                </a></li>

                                <li><a name="btn_no_aprobar_exp" id="{{ expediente.id  }}" class=" modal_expediente_pend " data-toggle="modal" data-target="#modal_no_aprobar_exp">
                                    <span class="glyphicon glyphicon-ban-circle"></span> No aprobar
                                </a></li>

                                <li><a name="{{expediente.expediente.id }}" id="editar_exp_desde_pend" href="/expedientes_aprobados/{{ expediente.id }}/editar" name="btn_editar_exp" id="{{ expediente.id  }}" class=" modal_expediente_pend ">
                                    <span class="glyphicon glyphicon-pencil"></span> Editar
                                </a></li>
                        {% endif %}

                       {% if   expediente.expediente.comprimido %}
                           <li>
                               <a  href="/descargar_comprimido/{{ expediente.expediente.id }}"><span class="glyphicon glyphicon-download-alt"></span> Comprimido</a>
                           </li>
                        {% endif %}

                            {% if   expediente.carta_expediente %}
                               <li>
                                   <a  href="/ver_informe/{{ expediente.id }}"><span class="glyphicon glyphicon-eye-open"></span> Mostrar carta</a>
                               </li>

                                <li >
                                    <a  href="/descargar_informe/{{ expediente.id }}"><span class="glyphicon glyphicon-download-alt"></span> Descargar carta</a>
                                </li>
                        {% endif %}

                        <li><a class=" btn_gestion " href="/expedientes_aprobados">
                            <span class="glyphicon glyphicon-arrow-left"></span> Ir atrás
                        </a></li>
                   </ul>
                </div>


        <div id="datos_exp"  class="datos_exp_50 datos_graduado">
        <h4 class="text-center">Datos del graduado:</h4>
        <p><strong>Nombre y apellidos:</strong> {{ expediente.expediente.graduado.nombre }} {{ expediente.expediente.graduado.apellidos }}</p>
        {% if expediente.expediente.graduado.carrera %}
             <p><strong>Carrera:</strong> {{ expediente.expediente.graduado.carrera }}</p>
        {% endif %}

        {% if expediente.expediente.graduado.centro_estudio %}
             <p><strong>Centro de estudio:</strong> {{ expediente.expediente.graduado.centro_estudio }}</p>
        {% endif %}

        {% if expediente.expediente.graduado.ci %}
             <p><strong>Carnet de identidad:</strong> {{ expediente.expediente.graduado.ci }}</p>
        {% endif %}

        {% if expediente.expediente.graduado.detalle_direccion_residencia and expediente.expediente.graduado.municipio_direccion_residencia and expediente.expediente.graduado.provincia_direccion_residencia %}
              <p><strong>Dirección de residencia:</strong> {{ expediente.expediente.graduado.detalle_direccion_residencia }}, {{ expediente.expediente.graduado.municipio_direccion_residencia }},{{ expediente.expediente.graduado.provincia_direccion_residencia }}</p>
        {% else %}
             <p><strong>Dirección de residencia:</strong> {{ expediente.expediente.graduado.municipio_direccion_residencia }},{{expediente.expediente.graduado.provincia_direccion_residencia }}</p>

        {% endif %}

        {% if expediente.expediente.graduado.anno_graduacion %}
             <p><strong>Año de graduación:</strong> {{expediente.expediente.graduado.anno_graduacion }}</p>
        {% endif %}

        {% if expediente.expediente.causal_movimiento%}
             <p><strong>Causa del movimiento:</strong> {{expediente.expediente.causal_movimiento.nombre }}</p>
        {% endif %}
        {% if expediente.expediente.sintesis_causal_movimiento%}
             <p><strong>Síntesis de la causa del movimiento:</strong>
                 <p>{{expediente.expediente.sintesis_causal_movimiento }}</p>
             </p>
        {% endif %}
           {% if expediente.expediente.graduado.codigo_boleta %}
               <p><strong>Código de la boleta</strong> {{ expediente.expediente.graduado.codigo_boleta }}</p>
           {% endif %}


       </div>




       <div id="datos_exp"    class="datos_exp_50 datos_entidad">
        <h4 class="text-center">Datos de la entidad que libera:</h4>
        <p><strong>Nombre de la entidad:</strong> {{ expediente.expediente.entidad_liberacion }}</p>
        <p><strong>Organismo:</strong> {{ expediente.expediente.organismo_liberacion.nombre}}</p>
        <p><strong>Provincia:</strong> {{ expediente.expediente.mun_entidad_liberacion.provincia.nombre }}</p>
        <p><strong>Municipio:</strong> {{ expediente.expediente.mun_entidad_liberacion.nombre }}</p>
        <p><strong>Facultado:</strong> {{ expediente.expediente.facultado_liberacion }}</p>
       </div>


       <div id="datos_exp"  class="datos_exp_50 datos_entidad">
        <h4 class="text-center">Datos de la entidad que acepta:</h4>
        <p><strong>Nombre de la entidad:</strong> {{ expediente.expediente.entidad_aceptacion }}</p>
        <p><strong>Organismo:</strong> {{ expediente.expediente.organismo_aceptacion.nombre}}</p>
        <p><strong>Provincia:</strong> {{ expediente.expediente.mun_entidad_aceptacion.provincia.nombre }}</p>
        <p><strong>Municipio:</strong> {{ expediente.expediente.mun_entidad_aceptacion.nombre }}</p>
        <p><strong>Facultado:</strong> {{ expediente.expediente.facultado_aceptacion }} </p>
       </div>




        </div>
        <div class="panel-footer">
            {% if  expediente.fecha_aprobado %}
            <p class="text-muted"> <span class="glyphicon glyphicon-time"></span> Aprobado el {{ expediente.fecha_aprobado }}</p>
            {% endif %}
        </div>
    </div>


{% endblock %}