{% extends "General/index.html" %}




{% block encabezado %}

    <header class="row">
            {% if messages %}
                {% for message in messages %}
                     {% if message.level == 40 %}
                         <p class="mensaje_error" ><span class="mensaje_error glyphicon glyphicon-ok"></span> {{ message }}</p>
                     {% else %}
                        <p class="mensaje_exito" ><span class="mensaje_exito glyphicon glyphicon-ok"></span> {{ message }}</p>
                     {% endif %}
                {% endfor %}
            {% endif %}
    </header>

    <div class="modal fade" id="modal_eliminar_exp_int" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Confirmación de eliminación</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Está seguro de eliminar el movimiento seleccionado</p>
                                </div>
                                <div class="modal-footer">
                                    <a  class="btn btn-default">Aceptar</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>

                        </div>
        </div>

    <div class="modal fade" id="modal_modificar_exp_int" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Confirmación de modificación</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Está seguro de modificar el movimiento seleccionado</p>
                                </div>
                                <div class="modal-footer">
                                    <a  class="btn btn-default">Aceptar</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                            </div>

                        </div>
    </div>
{% endblock %}



{% block section_superior %}
        <div class="panel panel-primary">
        <div class="panel-heading">Listado de Movimientos Internos</div>
        <div class="panel-body">

            <div class="panel-body-superior">
            {% if user.perfil_usuario.categoria.nombre == 'organismo' %}
                <div class="btn-group btn_group pull-left" >
                      <a class="btn btn-success btn_gestion" href="/movimientos_internos/registrar">
                         <span class="glyphicon glyphicon-plus"></span>Registrar movimiento
                      </a>
                </div>
            {% endif %}
                <div class="row">
                    <div class="col-xs-3 pull-right">
                        <div class="input-group">
                            {% if busqueda %}
                                <input value="{{ valor_busqueda }}" disabled type="number" id="input_busqueda_expediente" class="form-control" aria-label="..." placeholder="Escriba aquí" style="height:32px;">
                            {% else %}
                                <input type="text" id="input_busqueda_expediente" class="form-control" aria-label="..." placeholder="Escriba aquí" style="height:32px;">
                            {% endif %}
                            <div class="input-group-btn">
                                {% if busqueda %}
                                     <a type="button" class="btn btn-default btn_normal" href="/movimientos_internos"><span class="glyphicon glyphicon-refresh"></span> Limpiar</a>
                                {% else %}
                                     <button type="button" class="btn btn-default btn_normal" onclick="Objeto.__init__('','movimientos_internos','input_busqueda_expediente').buscar('ci');">Buscar CI</button>
                                {% endif %}
                            </div><!-- /btn-group -->
                        </div><!-- /input-group -->
                    </div><!-- /input-group -->
          </div>
            </div>
            <div class="table-responsive">
              <table class="table table-striped table-bordered dt-responsive nowrap usar_DataTable_3" cellspacing="0" width="100%">

            <thead>
            <tr>
                <th>Graduado</th>
                <th>CI Graduado</th>
                <th>Cód. Boleta</th>
                <th>Carrera</th>
                <th>Centro de estudio</th>
                <th>Año de Graud.</th>
                <th>Dir. Residencia</th>
                <th>Ent. Liberación</th>
                <th>Mun-Prov Liberación</th>
                <th>Ent. Aceptación</th>
                <th>Mun-Prov Aceptación</th>
                <th>Aprobado por</th>
                <th>Causal</th>
                <th>Síntesis Causal</th>
                 <th>Registrado</th>
                <th>Opciones</th>
            </tr>
              </thead>
              <tbody>
              {% for expediente in expedientes %}
                  <tr>
                      <td>{{ expediente.graduado.nombre }} {{ expediente.graduado.apellidos }}</td>
                      <td>{{ expediente.graduado.ci }}</td>
                      <td>{{ expediente.graduado.codigo_boleta }}</td>
                      <td>{{ expediente.graduado.carrera.nombre }}</td>
                      <td>{{ expediente.graduado.centro_estudio }}</td>
                      <td>{{ expediente.graduado.anno_graduacion }}</td>
                      <td>{{ expediente.graduado.detalle_direccion_residencia}} {{ expediente.graduado.municipio_direccion_residencia}} {{ expediente.graduado.provincia_direccion_residencia}}</td>

                      <td>{{ expediente.entidad_liberacion }}</td>
                      <td>{{ expediente.mun_entidad_liberacion }} - {{ expediente.mun_entidad_liberacion.provincia.nombre }}  </td>

                      <td> {{ expediente.entidad_aceptacion }}</td>
                      <td>{{ expediente.mun_entidad_aceptacion }} - {{ expediente.mun_entidad_aceptacion.provincia.nombre }} </td>
                      <td>{{ expediente.aprobado_por }} </td>
                      <td>{{ expediente.causal_movimiento.nombre }}</td>
                      <td>{{ expediente.sintesis_causal_movimiento }}</td>

                      <td>{{ expediente.fecha_registro|date:"Y/m/d" }}</td>
                      <td id="opciones_gestion">
                              <button id="{{ expediente.id  }}" onclick="Objeto.__init__({{ expediente.id }},'movimientos_internos','modal_modificar_exp_int').modificar();" class="btn btn-info  modal-expediente" data-toggle="modal" data-target="#modal_modificar_exp_int">
                                  <span class="glyphicon glyphicon-pencil">
                                  </span>
                              </button>

                              <button id="{{ expediente.id  }}"  onclick="Objeto.__init__({{ expediente.id }},'movimientos_internos','modal_eliminar_exp_int').eliminar();" class="btn btn-danger modal-expediente" data-toggle="modal" data-target="#modal_eliminar_exp_int">
                                  <span class="glyphicon glyphicon-trash">
                                  </span>
                              </button>
                      </td>

                  </tr>
              {% endfor %}
              </tbody>
            </table>
            </div>
            <ul class="pagination pull-right" style="position: relative;top: -25px;padding: 0;margin: 0">
                {% if expedientes.has_previous %}
                    <li>
                        <a href="?pagina={{ expedientes.previous_page_number }}" aria-label="Previous">
                            Anterior
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            Anterior
                        </a>
                    </li>
                {% endif %}
                {% if paginas %}
                {% for pagina in paginas %}
                    {% if pagina == expedientes.number  %}
                          <li class="active"><a href="?pagina={{ pagina }}">{{ pagina }}</a></li>
                    {% else %}
                         <li><a href="?pagina={{ pagina }}">{{ pagina }}</a></li>
                    {% endif %}
                {% endfor %}
                {% else %}
                    <li class="active"><a href="?pagina=1">1</a></li>
                {% endif %}

                {% if expedientes.has_next %}
                    <li>
                        <a href="?pagina={{ expedientes.next_page_number }}" aria-label="Next">
                            Próximo
                        </a>
                    </li>
                {% else %}

                    <li class="disabled">
                        <a  href="#" aria-label="Next">
                            Próximo
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>

    </div>
{% endblock %}

