{% extends "General/index.html" %} {% block encabezado %}

<header class="row">
    {% if messages %} {% for message in messages %}
    <p class="mensaje_exito"><span class="mensaje_exito glyphicon glyphicon-ok"></span> {{ message }}</p>
    {% endfor %} {% endif %}
</header>
{% endblock %} {% block section_superior %}
<div class="panel panel-primary">
    <div class="panel-heading">Listado de Centro de Estudios</div>
    <div class="panel-body">



        <div class="table-responsive">
            <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%" id="tabla_gestion">
                <thead>

                    <tr>
                        <th>Código Mes</th>
                        <th>Nombre</th>
                        <th>Siglas</th>
                        <th>Provincia</th>
                        <th id="opciones_gestion_titulo">Opciones</th>
                    </tr>
                </thead>
                <tbody>

                    {% for centro_estudio in centros_estudios %}
                    <tr>
                        <td>{{ centro_estudio.codigo_mes }}</td>
                        <td>{{ centro_estudio.nombre }}</td>
                        <td>{{ centro_estudio.siglas }}</td>
                        <td>{{ centro_estudio.provincia.siglas }}</td>

                        <td class="opciones_gestion">
                            <button id="{{ centro_estudio.id  }}" class="btn btn-info modal-centros_estudios" data-toggle="modal" data-target="#modal_modificar_centro" onclick="Objeto.__init__({{ centro_estudio.id }},'centros_estudios','modal_modificar_centro').modificar();">
                                  <span class="glyphicon glyphicon-pencil">
                                  </span>
                              </button>

                            <button id="{{ centro_estudio.id  }}" class="btn btn-danger modal-centros_estudios" data-toggle="modal" data-target="#modal_eliminar_centro" onclick="Objeto.__init__({{ centro_estudio.id }},'centros_estudios','modal_eliminar_centro').eliminar();">
                                  <span class="glyphicon glyphicon-trash">
                                  </span>
                              </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <a class="btn btn-success btn_gestion" href="/centros_estudios/registrar">
            <span class="glyphicon glyphicon-plus"></span> Registrar centro
        </a>
    </div>
</div>




<div class="modal fade" id="modal_eliminar_centro" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title modal_eliminar">Confirmación de eliminación</h4>
            </div>
            <div class="modal-body">
                <p>Está seguro de eliminar el centro de estudio seleccionado</p>
            </div>
            <div class="modal-footer">
                <a type="submit" class="btn btn-default">Aceptar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>



<div class="modal fade" id="modal_modificar_centro" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title modal_modificar">Confirmación de modificación</h4>
            </div>
            <div class="modal-body">
                <p>Está seguro de modificar el centro de estudio seleccionado</p>
            </div>
            <div class="modal-footer">
                <a type="submit" class="btn btn-default">Aceptar</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>


{% endblock %}