{% extends "Ubicados/GestionUbicados.html" %}

{% block paginate %}
    <ul class="pagination pull-right" style="position: relative;top: -25px;padding: 0;margin: 0">
        {% if disponibles.has_previous %}
            <li>
                <a href="disponibles/{{ opcion }}/{{ id_opcion }}?pagina={{ disponibles.previous_page_number }}" aria-label="Previous">
                    Anterior
                </a>
            </li>
        {% else %}

            <li class="disabled">
                <a href="#" aria-label="Previous">
                    Anterior
                </a>
            </li>
        {% endif %}

        {% if paginas %}
            {% for pagina in paginas %}
                {% if pagina == disponibles.number  %}
                    <li class="active"><a href="disponibles/{{ opcion }}/{{ id_opcion }}?pagina={{ pagina }}">{{ pagina }}</a></li>
                {% else %}
                    <li><a href="disponibles/{{ opcion }}/{{ id_opcion }}?pagina={{ pagina }}">{{ pagina }}</a></li>
                {% endif %}
            {% endfor %}
        {% else %}
            <li class="active"><a href="disponibles/{{ opcion }}/{{ id_opcion }}?pagina=1">1</a></li>
        {% endif %}
        {% if disponibles.has_next %}
            <li>
                <a href="disponibles/{{ opcion }}/{{ id_opcion }}?pagina={{ disponibles.next_page_number }}" aria-label="Next">
                    Próximo
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <a  href="#" aria-label="Next">
                    Próximo
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}